body{
  background-image: url('./splash.jpg');
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */
  background-size: cover;
  font-family: 'Roboto';
  margin: auto;
  /* background-repeat: no-repeat; */
}

header{
  background-color: gray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  z-index: 1000;
}

.logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
  color: white;
  letter-spacing: 2px;
}

.logo img{
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.session{
  display: flex;
}

.session>a{
  padding: 10px 20px;
  border: 2px solid white;
  font-weight: 900;
  color: white;
  cursor: pointer;
  margin-right: 15px;
  border-radius: 5px;
  text-decoration: none;
}

.session > p {
  padding-right: 20px;
  font-size: 20px;
  color: white;
  margin: 0;
  margin-top: 8px;
}

.session>p>a:hover{
  text-decoration: underline;
}

.session>a:hover{
  background-color: white;
  color: gray;
  text-decoration: underline;
}

.content {
  height: 400px;
  width: 800px;
  margin-top: 300px;
  margin-left: 300px;
  align-items: center;
  letter-spacing: 5px;
}

.content h1 {
  color: white;
  padding: 20px;
}

footer{
   position:absolute;
   bottom:0;
   width:100%;
   background-color: lightgray;
   height: 100px;
   text-align: center;
}


.link{
  height:60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: darkgray;

}

.link>a {
  text-decoration: none;
  font-weight: 600;
  color: black;
  width: 25%;
  height: 100%;
}

.link>a>p {
  text-align: center;
}

footer a:hover{
  background-color: gray;
  color: white;
}

.main{
  display: flex;
  flex-direction: row;
}

.detail{
  margin-top: 200px;
  width: 50%;
}

.form{
  height: 400px;
  margin-top: 200px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
